<div class="row justify-content-center">
  <div class="col-6">
  <!-- 여기서 @user는 users_controller에서 보내져온 인스턴스 변수다.  -->
    <%= form_with(model: @user, class: "shadow p-3 mb-5 bg-info rounded", local: true ) do |f| %>
      <div class="mb-3 row">
        <%= f.label :username, class: "col-2 col-form-label text-light" %>
        <div class="col-10">
          <%= f.text_field :username, class: "form-control shadow rounded", placeholder: "Enter a username" %>
        </div>
      </div>

      <div class="mb-3 row">
        <%= f.label :email, class: "col-2 col-form-label text-light" %>
        <div class="col-10">
          <%= f.email_field :email, class: "form-control shadow rounded", placeholder: "Enter your email address" %>
        </div>
      </div>

       <div class="mb-3 row">
        <%= f.label :password, class: "col-2 col-form-label text-light" %>
        <div class="col-10">
          <%= f.password_field :password, class: "form-control shadow rounded", placeholder: "Choose a password" %>
        </div>
      </div>
        
      <div class="mb-3 row justify-content-center">
        <%= f.submit(@user.new_record? ? "Sign up" : "Update Account", class: "col-3 btn btn-outline-light btn-lg") %>
      </div>
    <% end %>
  </div>
</div> 